@import "../../variable";

.text_image {
  display: flex;
  flex-direction: row;
  align-items: center;

  .text {
    padding: 0 1rem;
  }
  .image {
    text-align: center;
  }

  .text,
  .image {
    width: 50%;
    img {
      max-width: 100%;
    }
  }
}

@include sm {
  .text_image {
    display: block;
    .text,
    .image {
      width: 100%;
     
    }
  }
}

.image {
  text-align: center;
  img {
    max-width: 100%;
  } 
}
