<div class="image" *ngIf="value.type == 'image'">
  <img src="{{value.image}}" alt="">
</div>

<div class="text_image" *ngIf="value.type == 'text_image' || value.type == 'text_image_left'">

  <div class="image">
    <img src="{{value.image}}" alt="">
  </div>

  <div class="text" [innerHTML]="value.content">

  </div>


</div>

<div class="text_image" *ngIf="value.type == 'text_image_right'">
  <div class="text" [innerHTML]="value.content">

  </div>
  <div class="image">
    <img src="{{value.image}}" alt="">
  </div>

</div>
