

<div class="flex-row wrap">
  
  <div class="item"  *ngFor="let data of this.value.content.data"
    [style.width]="((100 / value.content.setting.row) - 3)+'%'"
    [style.backgroundColor]="value.content.setting.background_color"
    [ngClass]="{'left': value.content.setting.image_position == 'left'}">
    
    <div class="image"
      *ngIf="value.content.setting.image_position == 'top' || value.content.setting.image_position == 'left'">
      <img class="fill-width" src="{{data.image}}" alt="">
    </div>
    
    <div class="text">
      <div class="title" [innerHTML]="data.title"></div>
      <div [innerHTML]="data.desc"></div>
    </div>
    <div class="image" *ngIf="value.content.setting.image_position == 'bottom'">
      <img class="fill-width" src="{{data.image}}" alt="">
    </div>

  </div>

  
</div>