<div class="page_value">
  <button class="btn-dark full-width" (click)="addPage()"> Add New Page</button>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let page of data.course; let i = index" cdkDrag >
      <div class="page block flex" [ngClass]="{'page_header':page.header}">
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
        <div (click)="gotoPage(i)" class="flex1">{{page.title}}</div>
        <app-dropdown [data]="['Header', 'Duplicate', 'Delete']" (clickEmit)="dropDownClick($event)" [index]="i"></app-dropdown>
      </div>
    </div>
  </div>
</div>
