@import '../_variable.scss';
$menu_width: 280px;
$admin_panel_width: 450px;
$page_width: $menu_width+$admin_panel_width;

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  border-top: .1rem solid #ddd;
  background: #f0f0f0;
  height: 7rem;
  position: relative;
  overflow: hidden;

  &:hover {
    mat-icon {
      color: $brand_color;
    }

    a {
      color: $brand_color;
    }
  }

  a {
    color: #313537;
    text-decoration: none;
    text-align: center;
  }
}

.menu_title {

  padding: 5rem 3rem 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  background-size:cover;

  background-blend-mode: multiply;

  .menu_header {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
  }

  .course_progress {
    margin: 5.1rem 0 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .12rem;
    font-size: 1.1rem;
    color: #fff;

    .progress {
      height: 0.2rem;
      width: 100%;
      background-color: #ffffff;
      margin-bottom: .6rem;

      .value {
        height: 0.2rem;
        background-color: $brand_color;
        transition: width 1s ease;
      }
    }
  }
}

.menu_icon {
  padding: 1.7rem;
}

.pageNo {
  font-style: italic;
  font-size: 1.2rem;
  color: #313537;
  margin-bottom: 1.2rem;
}

.page {
  margin-left: $menu_width;
  /*width: calc(100% -  #{$page_width});*/
  flex: 1;
  transition: all 0.5s ease;
  /*position: fixed;
  overflow: auto;*/

  height: 100vh;

  &.admin_panel_open {
    /*margin-right: 451px;*/
  }

  &.open {
    margin-left: 0px;
  }
}

.content {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 92rem;

}

.progress {
  height: 2px;

  .progress_container {
    height: 2px;

    .progress_indicator {
      height: 2px;
    }
  }
}

.title {
  line-height: 1;
  font-size: 4.2rem;
  position: relative;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #2d363a;
}

.brand--background {
  background-color: $brand_color;
}

.header_hr {
  background-color: $brand_color;
  width: 16rem;
  height: .3rem;
  text-align: left;
  margin-left: 0;
  border: 0;
  transition: background .3s;
}

.page_header {
  padding-bottom: 4.5rem;
  margin-left: 8.33333%
}

.page_wrapper {

  min-height: 100vh;
}

.cursor {
  cursor: pointer;
}

.main {
  /*display: flex;*/
  background-color: white;

  .menu {
    width: $menu_width;
    height: 100vh;
    border-right: 1px solid rgba(49, 53, 55, .1);
    opacity: 1;
    transition: all 0.5s ease;
    position: fixed;
    overflow: auto;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 2rem;
      box-shadow: inset -2rem 0 2rem -2rem rgba(0, 0, 0, .24);
      pointer-events: none;
      z-index: 1;
    }
  }

  .menu.close {
    width: 0;
    opacity: 0;
  }

  .button {
    cursor: pointer;
  }

  .block {
    /*margin: 7rem 0;*/
  }

  .menu {
    ul {
      list-style: none;
      padding: 0;
    }

    .sec_title {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding: .5rem 0;
      color: #313537;
      /*font-family: lato, sans-serif;*/
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: .06rem;
      border-bottom: .1rem solid rgba(49, 53, 55, .1);
      padding: 0 6px;
    }

    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: background-color .3s;
      cursor: pointer;

      &.selected {
        background-color: #efefef;
      }

      .icon {
        color: #aaa;
        position: relative;
        top: 2px;

      }

      .page_indicator {
        height: 71px;
        width: 4px;
        margin-right: 10px;

        &.selected {
          background-color: #b6000f;
        }
      }

      .status_indicator {
        margin-right: 1rem;
      }

      .text {
        flex: 1;
        display: block;
        padding: 2rem 1rem;
        /*font-family: lato, sans-serif;*/
        font-size: 1.3rem;
        line-height: 1.6rem;
        font-weight: 700;
        text-decoration: none;
        color: #313537;
      }
    }
  }
}


.block_panel{
position: relative;

&:hover {
  border: 1px dashed gray;
}
&:hover .settingicon{
  opacity: 1;
}
.settingicon{
  opacity: 0;
  position: absolute;
  right: 10px;
  top:10px;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
 
}