<div class="main" *ngIf="page">

  <admin-panel [data]="this.content" [selectedPage]="page"></admin-panel>


  <div [className]="menu_close ? 'menu close' : 'menu'">
    <div class="menu_title">
      <div class="menu_header">
        {{this.content.settings.title}}
      </div>
      <div class="course_progress">
        <div class="progress">
          <div class="value" [style.width.%]="this.service.getProgress()">

          </div>
        </div>
        {{this.service.getProgress()}} %
      </div>
    </div>
    <ul>
      <li *ngFor="let item of this.course; let i = index">
        <div class="section" *ngIf="item.header == true">
          <section>
            <div class="sec_title">{{item.title}}</div>
            <!-- <ul>
              <li *ngFor="let list of item.children; let j = index">
                <a class="link" (click)="goto(i, j)">
                  <div class="icon">
                    <mat-icon> notes</mat-icon>
                  </div>
                  <div class="text">{{list.title}}</div>
                  <div class="status_indicator"></div>
                </a>
              </li>
            </ul> -->
          </section>
        </div>

        <div class="section" *ngIf="item.header != true">
          <a class="link" (click)="goto(i)">
            <div class="icon">
              <mat-icon> notes</mat-icon>
            </div>
            <div class="text">{{item.title}}</div>
            <div class="status_indicator"></div>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <!-- [className]="menu_close ? 'page open' : 'page'" -->
  <div [@changeState]="currentState" (@changeState.done)="animEnd($event)"
    [ngClass]="{'page open':menu_close, 'page': menu_close != true, 'admin_panel_open':admin_panel}">

    <div class="navigation grey-bg align-center" *ngIf="prevString != -1">

      <mat-icon>keyboard_arrow_up</mat-icon>

      <div>
        <div class="cursor" (click)="prev()">
          {{this.common_text.lesson}} {{currentNumber - 1}} - {{this.service.getLessonName(prevString)}}
        </div>
      </div>
    </div>

    <!-- first page to home-->
    <div class="navigation grey-bg align-center" *ngIf="prevString == -1">
      <mat-icon>keyboard_arrow_up</mat-icon>
      <div>
        <a routerLink="/">
          Home
        </a>
      </div>
    </div>


    <div class="page_wrapper">
      <div id="menu_icon" class="menu_icon ">
        <mat-icon class="cursor" (click)="menu_close = !menu_close"> menu</mat-icon>
      </div>
      <div class="content">

        <div class="page_header ">
          <div class="pageNo">
            {{this.common_text.lesson}} {{currentNumber}} of {{this.service.getTotalPage()}}
          </div>
          <div class="title">
            {{this.page.title}}
          </div>
          <hr class="header_hr">
        </div>
      </div>
      <div class="progress">
        <div class="progress_container">
          <div class="progress_indicator brand--background"></div>
        </div>
      </div>

      <!-- Place the content type here-->

      <div class="content" *ngIf="this.page.page != undefined">
        <div class="block" *ngFor="let item of this.page.page.block">
          <!-- Text Component -->
          <app-text *ngIf="item.type == 'text'" [value]="item.content"></app-text>
          
          <!-- Image Component -->
          <app-text-image
            *ngIf="item.type == 'image' || item.type == 'text_image_right' || item.type == 'text_image_left' || item.type == 'text_image_top' || item.type == 'text_image_bottom' "
            [value]="item"></app-text-image>

          <!-- Gird Component -->
          <app-grid-image-text *ngIf="item.type == 'grid_image_text'" [value]="item"></app-grid-image-text>

          <!-- Tab Component -->
          <app-tab-image-text *ngIf="item.type == 'tab_image_text'" [value]="item"></app-tab-image-text>
          <!-- Accordion Component -->
          <app-accordian *ngIf="item.type == 'accordion'" [value]="item"></app-accordian>

           <!-- Audio Component -->
           <app-audio *ngIf="item.type == 'audio'" [value]="item"></app-audio>

           <!-- Video Component -->
           <app-video *ngIf="item.type == 'video'"  [value]="item"></app-video>

        </div>
      </div>
      <!-- content type end-->
    </div>
    <div class="navigation grey-bg align-center" *ngIf="nextString != course.length">
      <div>

        <div class="cursor" (click)="next()">
          {{this.common_text.lesson}} {{currentNumber + 1}} - {{this.service.getLessonName(nextString)}}
        </div>
      </div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>

</div>
