<div class="block_container">
  <div class="block" (click)="addText()">
      <p>
          <b>Text only template</b>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
  </div>

  <div class="block" (click)="addTextWidthHeader()">
      <h1>Heading + text</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
  </div>
  <div class="block" (click)="addTextImage()">
      <p class="heading">Text & Image</p>
      <div class="flex">
        <div class="item left">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
        </div>
        <div class="item">
            <img src="assets/admin/watermelon.png" />
          </div>
      </div>
    </div>
  <div class="block" (click)="addImage()">
      <p class="heading">Image Only</p>
      <div class="item">
        <img class="full-width" src="assets/admin/image_only.png" />
      </div>
  </div>

  


  <div class="block" (click)="addGridImageText()">
    <p class="heading">Grid Image & Text</p> 
  </div>

  <div class="block" (click)="addTab()">
    <p class="heading">Tab</p> 
  </div>

  <div class="block" (click)="addAccordion()">
    <p class="heading">Accordian</p> 
  </div>

  <div class="block" (click)="addTimeline()">
    <p class="heading">Timeline</p> 
  </div>

</div>
