h1 {
  font-size: 4.4rem;
}

.container_middle {
  padding: 1rem 3rem 0;
  max-width: 66rem;
  margin: 0 auto;
}

.overview_page {


  .header {
    padding: 7vw 0;
    background-color: #b2b2b2;
    //background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

    .background-opacity {
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      right: 0;

    }

    .title {
      color: #fff;

      h1 {
        margin-bottom: 6rem;
      }
    }

    .down_arrow {
      position: relative;
      top: 7px;
    }
  }

  .content {
    padding: 7vw 0;

    .description {
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 2.0625;
      padding-bottom: 5rem;
    }
  }

  .menu {
    ul {
      list-style: none;
      padding: 0;
    }

    .sec_title {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding: .5rem 0;
      color: #313537;
      font-family: lato, sans-serif;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: .06rem;
      border-bottom: .1rem solid rgba(49, 53, 55, .1);
    }

    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: background-color .3s;

      .icon {
        color: #aaa;
        position: relative;
        top: 2px;

      }

      .text {
        flex: 1;
        display: block;
        padding: 2rem 1rem;
        font-family: lato, sans-serif;
        font-size: 1.3rem;
        line-height: 1.6rem;
        font-weight: 700;
        text-decoration: none;
        color: #313537;
      }
    }
  }
}
