<div class="overview_page">
  <div class="header">
    <div class="title container_middle">
      <h1>{{this.content.settings.title}}</h1>
      <div>
        <a  [routerLink]="['c', course_id, 'p', 0]" class="btn btn_white uppercase over_btn">{{this.content.common_text.start_course}}</a>
        <a href="#" class="btn btn_white_text uppercase">{{this.content.common_text.details}}
          <span class="down_arrow">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container_middle description" *ngIf="this.content.settings.description != ''"
    [innerHtml] ="this.content.settings.description" >
      <!-- {{this.content.settings.description}} -->
    </div>
    <div class="menu container_middle">
      <ul>
        <li *ngFor="let item of this.content.course; let i = index">

          <div class="section" *ngIf="item.header == true">
            <section>
              <div class="sec_title">{{item.title}}</div>
              <!-- <ul>
                <li *ngFor="let list of item.children; let j = index">
                  <a class="link" [routerLink]="['page', i, j]">
                    <div class="icon">
                      <mat-icon> notes</mat-icon>
                    </div>
                    <div class="text">{{list.title}}</div>
                    <div class="status_indicator"></div>
                  </a>
                </li>
              </ul> -->
            </section>
          </div>
          <div class="section" *ngIf="item.header != true">
            <a class="link" [routerLink]="['c', course_id, 'p', i]">
              <div class="icon">
                <mat-icon> notes</mat-icon>
              </div>
              <div class="text">{{item.title}}</div>
              <div class="status_indicator"><mat-icon class="brand-color" *ngIf="this.service.getPageCompleted(i)">check_circle</mat-icon></div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
