.image_box {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #eee;
  /*position: absolute;*/

  &:hover .change {
    opacity: 1;
  }

  .change {
    position: relative;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    background-color: #333;
    padding: 0.5rem;
    text-align: center;
    color: #eee;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

.hidden {
  display: none;
}

.progress{
  background-color: #ddd;
  .progress_bar{
      height: 2px;
      background-color: #b2000F;
  }
}