<div class="more" [ngClass]="{'show-more-menu' : showMenu}">
    <div class="outside" (click)="showMenu = false"></div>
    <button id="more-btn" class="more-btn" (click)="toggleMenu()">
    <span class="more-dot"></span>
    <span class="more-dot"></span>
    <span class="more-dot"></span>
  </button>
  <div class="more-menu" >
    <div class="more-menu-caret">
      <div class="more-menu-caret-outer"></div>
      <div class="more-menu-caret-inner"></div>
    </div>
    <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
      <li class="more-menu-item" role="presentation" *ngFor="let item of data; let i = index">
        <button type="button" class="more-menu-btn" (click)="itemClicked(item.toString().toLowerCase())" id="{{i}}" role="menuitem">{{item}}</button>
      </li>
    </ul>
  </div>
</div>
