.input1,
select>option {
  font-family: "Roboto";
  font-size: 1.7rem;
  width: calc(100% - 2rem);
  padding: 1rem;
  margin-right: -1rem;
}
.input2,
select>option {
  font-family: "Roboto";
  font-size: 1.7rem;
  width: calc(100% - 2rem);
  padding: 1rem;
  margin-right: -1rem;
  margin-bottom: 1.5rem;
}
.panel{
    background-color: #eee;
    padding: 1rem;
    margin-bottom: 1rem;
}

.input{
  border: 0px solid #fff;
  background-color: #eee;
  font-family: "Roboto";
  font-size: 1.7rem;
  width: calc(100% - 9rem);
  padding: 1rem;
  margin-right: -1rem;

}
mat-icon{
  background: #eee;
  padding: 2px;
  padding-bottom: 14px;
  /*border: 1px solid #fff;*/
  cursor: pointer;
 

}

button.add{
  margin-top: 10px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
button.danger{
  background-color: #e00;
  color: #fff;
  padding: 5px;
  border:0;
  border-radius: 5px;
}