<div>
  <label class="label">Type</label>
</div>
<select class="input2" [(ngModel)]="data.type">
  <option value="grid_image_text">Grid</option>
  <option value="tab_image_text">Tab</option>
  <option value="accordion">Accordion</option>
  <option value="timeline">Timeline</option>
</select>

<div *ngIf="data.type == 'grid_image_text'">
  <div>
    <label class="label">Item per row</label>
  </div>
  <select class="input1" [(ngModel)]="data.content.setting.row">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>

  <div>
    <label class="label">Image Position</label>
  </div>
  <select class="input1" [(ngModel)]="data.content.setting.image_position">
    <option value="left">Left</option>
    <option value="top">Top</option>
    <option value="bottom">Bottom</option>
  </select>

  <hr>
</div>
<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let item of this.data.content.data; let i=index" cdkDrag class="">

    <div class="flex block">
      <mat-icon cdkDragHandle>more_vert</mat-icon>
      <input type="text" [(ngModel)]="item.title" class="input" /> &nbsp;
      <mat-icon (click)="tab(i)" *ngIf="selectedtab != i">keyboard_arrow_down</mat-icon>
      <mat-icon (click)="close(i)" *ngIf="selectedtab == i">close</mat-icon>
    </div>

    <div class="content" *ngIf="this.data.content.data != undefined && selectedtab == i">

      <div>
        <div>
          <label class="label">Content</label>
        </div>
        <div>
          <quill-editor [(ngModel)]="item.desc" theme="snow"></quill-editor>
        </div>
      </div>


      <div>
        <div>
          <label class="label">Image</label>
        </div>
        <div>
          <admin-image [src]="item.image"></admin-image>
        </div>
      </div>

      <button class="small danger" (click)="deleteItem(i)">Delete</button>

    </div>
  </div>
</div>


<button class="small add" (click)="addItem()">Add Item</button>
