@import "../admin.scss";

.block {
  padding: 0;
}

.input1,
select>option {
  width: calc(100% - 2rem);
}

.input2,
select>option {
  font-family: "Roboto";
  width: calc(100% - 2rem);
  padding: 1rem;
  margin-right: -1rem;
  margin-bottom: 1.5rem;
}

.input {
  border: 0px solid #fff;
  background-color: transparent;
  flex: 1;
  padding: 10px 0;
}

.block {
  .mat-icon {
    height: 18px;
  }
}


.content {
  padding: 1rem;
  background-color: #f7fbfd;
}

button.add {
  margin-top: 10px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

button.danger {
  background-color: #e00;
  color: rgb(255, 255, 255);
  padding: 5px;
  border: 0;
  border-radius: 5px;
  padding: 6px 10px;
  margin-top: 10px;
}
