<div>
  <label class="label">Item per row</label>
</div>
<select class="input" [(ngModel)]="data.content.setting.row">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>

<div>
  <label class="label">Image Position</label>
</div>
<select class="input" [(ngModel)]="data.content.setting.image_position">
  <option value="left">Left</option>
  <option value="top">Top</option>
  <option value="bottom">Bottom</option>
</select>

<hr>

<div *ngFor="let item of this.data.content.data" class="panel">
  <div>
    <label class="label">Title</label>
  </div>
  <div>
    <input type="text" [(ngModel)]="item.title" class="input" />
  </div>
  <div>
    <label class="label">Content</label>
  </div>
  <div>
    <quill-editor [(ngModel)]="item.desc" theme="snow"></quill-editor>
  </div>
  <div>
    <label class="label">Image</label>
  </div>
  <div>
    <admin-image [src]="item.image"></admin-image>
  </div>
</div>

<button (click)="addItem">Add Item</button>
