/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

@import url('./../node_modules/aos/dist/aos.css');

//$_fontname : 'Roboto';
$_font_black: #313537;

@import "app/variable";

html{
    font-size: 62.5%;
}
body {
    /*font-family: $_fontname;*/
    margin: 0px;
    font-size: 1.7em;
    line-height: 1.5;
    color: $_font_black;
    background-color: #ffffff;
}
a.noline{
    text-decoration: none;
}
.btn{
    font-family: Lato;
    border:0;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 4rem;
    letter-spacing: .04em;
    text-decoration: none;
    transition: opacity .3s;
    color: $_font_black;
    border-radius: 2rem;
}
.over_btn {
    padding: 0 3rem;
    margin-right: 3rem;
}
.btn_white_text{
    color: #ffffff;
    font-weight: bold;
}
.btn_white{
    background-color: #ffffff;
}

.uppercase{
    text-transform: uppercase;
}

.menu ul li{
    /*margin-top: 1.4rem;*/
}

table{
    width: 100%;
    table-layout: fixed;
    thead {
        color: #fff;
        background-color: $brand_color;
        text-align: center;
    }
    th, td{
        padding: 10px;
    }
}
table, th, td {
    border: 1px solid $brand_color;
}

.ql-editor
{
    padding: 0px;
    font-size: 1.7rem;
}
.ql-snow{
    padding: 10px;
}

.full-button
{
    width: 100%;
    margin: 10px 0;
    background-color: #333333;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.3rem;
    border:0px;
}
.hidden{
    display: none;
}.flex{
    display: flex;
}

.flex1{
    flex: 1;
}
.brand-color{
    color:$brand_color;
}

.arial{
    font-family: 'Arial';
}

.roboto{
    font-family: 'Roboto';
}
.Oswald{
    font-family: Oswald;
}
.Lora{
    font-family: Lora;
}

